<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    
    <title>API Doc</title>
    <style>
        body {
            background-color: azure;
            font-family: 'Shadows Into Light', cursive;

        }
        table td {
            border: 1px solid rgb(129, 148, 155);
        }
    </style>
</head>
<body>
    <div class="container">
        <table class="events-container"></table>
    </div>
    <script>

        function addCell(row, index, text) {
            let cell = row.insertCell(index);
            let newText = document.createTextNode(text);
            cell.appendChild(newText);
        }
        function displayResponse(arr) {
            const table = document.querySelector('.events-container');
            let newRow = table.insertRow(-1);
                addCell(newRow, 0, 'Event Name');
                addCell(newRow, 1, 'Event Type');
                addCell(newRow, 2, 'Event URL');
                addCell(newRow, 3, 'Price Range');

            arr.forEach(function(item, i) {
                let priceRange = '';
                if(item.priceRanges.length > 0) {
                    priceRange = `${item.priceRanges[0].min}-${item.priceRanges[0].max}`;
                }

                // add row https://developer.mozilla.org/en-US/docs/Web/API/HTMLTableElement/insertRow
                let newRow = table.insertRow(-1);
                addCell(newRow, 0, item.name);
                addCell(newRow, 1, item.type);
                addCell(newRow, 2, item.url);
                addCell(newRow, 3, priceRange);
                // addCell(newRow, 3, '<a href="/api/venue/${item.url}">Venue</a>');
                table.appendChild(newRow);
            });
        }

        // use fetch API https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch
        fetch('/api/event/')
            .then(function(response) {
                response.json().then(displayResponse);
            })
            .then(function(myJson) {
                console.log(JSON.stringify(myJson));
            });

    </script>
</body>
</html>